<nz-layout class="main-layout">
  <nz-sider nzWidth="200px" nzTheme="light">
    <ul nz-menu nzMode="inline" class="sider-menu">
      <ng-container *ngTemplateOutlet="menuTpl;context:{$implicit:menuLists}"></ng-container>
      <ng-template #menuTpl let-menus>
        <ng-container *ngFor="let menu of menus">
          <ng-container *ngIf="!menu">
            <li nz-menu-divider></li>
          </ng-container>
          <ng-container *ngIf="menu">
            <ng-container *ngIf="!menu.hasOwnProperty('children')&&menu.nav!==0">
              <li nz-menu-item [nzPaddingLeft]="menu.level * 24">
                <i nz-icon [nzType]="menu.icon" *ngIf="menu.icon"></i>
                <span>{{ menu.name }}</span>
              </li>
            </ng-container>
            <ng-container *ngIf="menu.hasOwnProperty('children')">
              <ng-container *ngIf="containNav(menu.children);else notCintain">
                <li
                  nz-submenu
                  [nzPaddingLeft]="menu.level * 24"
                  [nzTitle]="menu.name"
                  [nzIcon]="menu.icon"
                >
                  <ul>
                    <ng-container *ngTemplateOutlet="menuTpl; context: { $implicit: menu.children }"></ng-container>
                  </ul>
                </li>
              </ng-container>
              <ng-template #notCintain>
                <li nz-menu-item [nzPaddingLeft]="menu.level * 24">
                  <span>{{ menu.name }}</span>
                </li>
              </ng-template>
            </ng-container>
          </ng-container>
        </ng-container>
      </ng-template>
    </ul>
  </nz-sider>
  <nz-layout class="inner-layout">
    <nz-content>
      <nz-breadcrumb [nzSeparator]="'>'">
        <nz-breadcrumb-item>仪表盘</nz-breadcrumb-item>
      </nz-breadcrumb>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
